$f-head: "DM Serif Text", serif;
$f-mono: "Space Mono", serif;

// setup
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $f-head;
  font-weight: normal;
  text-align: center;
}
body {
  width: 100%;
  padding-top: 10vh;
  padding-bottom: 100vh;
  background-color: #efece3;
  font-family: $f-mono;
  // overflow-x: hidden;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.container {
  padding: 20px 0;
}

.fix-test {
  z-index: 600;
  position: fixed;
  left: 0;
  right: 0;
  border-top: 1px dotted blue;
  height: 1px;
  span {
    background-color: blue;
    color: white;
    line-height: 1;
    display: inline-block;
    padding: 5px;
    font-size: 12px;
  }
}

//content
#main-header {
  text-align: center;
}
.top-boxs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  .box {
    margin-bottom: 20px;
    width: calc(25% - 15px) !important;
  }
}
#main-wrapper {
  margin: auto;
  max-width: 1000px;
  padding: 30px 60px;
  .box {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    display: inline-flex;
    background-color: white;
    border: solid 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.625rem 3.4375rem 0 rgba(102, 102, 102, 0.1);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: $f-mono;
    font-weight: bold;
    letter-spacing: -0.02em;
    font-size: 18px;
  }
}
.test-parent {
  border: 2px dashed rgba(0, 0, 0, 0.5);
  padding: 50px;
}

.test-horizontal {
  border: 2px dashed rgba(0, 0, 0, 0.5);
  padding: 50px;
  margin: 50px 0;
  .container {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    .box {
      flex-shrink: 0;
      margin-right: 50px;
    }
  }
}
