/*!
 * enami
 * Animation on scroll
 * 2020 Enzo Vergara
 * MIT License
 * https://github.com/enzoemb/enami
 */
[data-enami-in] {
    animation-delay: var(--enami-delay);
    // transition-delay: var(--enami-delay);
    animation-duration: var(--enami-duration);
    // transition-duration: var(--enami-duration);
    animation-fill-mode: forwards;
}

[data-enami="fade-up"][data-enami-in] {
    animation-name: fadeUp;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    @keyframes fadeUp {
        from {
            transform: translate3d(0, 40px, 0) rotate(0.02deg);
            opacity: 0;
        }
        to {
            transform: translate3d(0, 0, 0) rotate(0deg);
            opacity: 1;
            visibility: visible;
        }
    }
}

[data-enami="fade-left"][data-enami-in] {
    animation-name: fadeLeft;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

    @keyframes fadeLeft {
        from {
            transform: translate3d(-40px, 0, 0) rotate(0.02deg);
            opacity: 0;
        }
        to {
            transform: translate3d(0, 0, 0) rotate(0deg);
            opacity: 1;
            visibility: visible;
        }
    }
}

[data-enami="fade-right"][data-enami-in] {
    animation-name: fadeRight;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

    @keyframes fadeRight {
        from {
            transform: translate3d(40px, 0, 0) rotate(0.02deg);
            opacity: 0;
        }
        to {
            transform: translate3d(0, 0, 0) rotate(0deg);
            opacity: 1;
            visibility: visible;
        }
    }
}

[data-enami="fade-down"][data-enami-in] {
    animation-name: fadeDown;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    @keyframes fadeDown {
        from {
            transform: translate3d(0, -40px, 0) rotate(0.02deg);
            opacity: 0;
        }
        to {
            transform: translate3d(0, 0, 0) rotate(0deg);
            opacity: 1;
            visibility: visible;
        }
    }
}

[data-enami="fade-in"][data-enami-in] {
    animation-name: fadeIn;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
            visibility: visible;
        }
    }
}

[data-enami="fade-up-out"][data-enami-in] {
    animation-direction: reverse;
    animation-name: fadeUp;
}

[data-enami="fade-left-out"][data-enami-in] {
    animation-name: fadeLeft;
    animation-direction: reverse;
}

[data-enami="fade-right-out"][data-enami-in] {
    animation-name: fadeRight;
    animation-direction: reverse;
}

[data-enami="fade-down-out"][data-enami-in] {
    animation-name: fadeDown;
    animation-direction: reverse;
}

[data-enami="fade-in-out"][data-enami-in] {
    animation-name: fadeIn;
    animation-direction: reverse;
}

[data-enami="jump-in"][data-enami-in] {
    animation-name: jumpIn;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 2.4);
    @keyframes jumpIn {
        from {
            transform: scale(0) rotate(2deg) rotate(0.02deg);
            opacity: 0;
        }
        to {
            transform: scale(1) rotate(0deg) rotate(0deg);
            opacity: 1;
            visibility: visible;
        }
    }
}

[data-enami="jump-up"][data-enami-in] {
    animation-name: jumpUp;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 2.4);

    @keyframes jumpUp {
        from {
            transform: translate3d(0, 20px, 0) rotate(2deg) rotate(0.02deg);
            opacity: 0;
        }
        to {
            transform: translate3d(0, 0, 0) rotate(0deg) rotate(0deg);
            opacity: 1;
            visibility: visible;
        }
    }
}

[data-enami="jump-left"][data-enami-in] {
    animation-name: jumpLeft;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 2.4);
    @keyframes jumpLeft {
        from {
            transform: translate3d(-20px, 0, 0) rotate(2deg) rotate(0.02deg);
            opacity: 0;
        }
        to {
            transform: translate3d(0, 0, 0) rotate(0deg) rotate(0deg);
            opacity: 1;
            visibility: visible;
        }
    }
}

[data-enami="jump-right"][data-enami-in] {
    animation-name: jumpRight;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 2.4);
    @keyframes jumpRight {
        from {
            transform: translate3d(20px, 0, 0) rotate(2deg) rotate(0.02deg);
            opacity: 0;
        }
        to {
            transform: translate3d(0, 0, 0) rotate(0deg) rotate(0deg);
            opacity: 1;
            visibility: visible;
        }
    }
}

[data-enami="jump-down"][data-enami-in] {
    animation-name: jumpDown;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 2.4);
    @keyframes jumpDown {
        from {
            transform: translate3d(0, -20px, 0) rotate(2deg) rotate(0.02deg);
            opacity: 0;
        }
        to {
            transform: translate3d(0, 0, 0) rotate(0deg) rotate(0deg);
            opacity: 1;
            visibility: visible;
        }
    }
}

[data-enami="jump-out"][data-enami-in] {
    animation-name: jumpIn;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 2.4);
    animation-direction: reverse;
}

[data-enami="jump-up-out"][data-enami-in] {
    animation-name: jumpUp;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 2.4);
    animation-direction: reverse;
}

[data-enami="jump-left-out"][data-enami-in] {
    animation-name: jumpLeft;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 2.4);
    animation-direction: reverse;
}

[data-enami="jump-right-out"][data-enami-in] {
    animation-name: jumpRight;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 2.4);
    animation-direction: reverse;
}

[data-enami="jump-down-out"][data-enami-in] {
    animation-name: jumpDown;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 2.4);
    animation: 0.5s jumpDown forwards cubic-bezier(0.68, -0.55, 0.265, 2.4);

    animation-direction: reverse;
}

[data-enami="scale-in"][data-enami-in] {
    animation-name: scaleIn;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

    @keyframes scaleIn {
        from {
            transform: scale(0.6) rotate(0.02deg);
            opacity: 0;
        }
        to {
            transform: scale(1) rotate(0deg);
            opacity: 1;
            visibility: visible;
        }
    }
}

[data-enami="scale-up"][data-enami-in] {
    animation-name: scaleUp;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

    @keyframes scaleUp {
        from {
            transform: scale(0.6) translateY(100px) rotate(0.02deg);
            opacity: 0;
        }
        to {
            transform: scale(1) rotate(0deg);
            opacity: 1;
            visibility: visible;
        }
    }
}

[data-enami="scale-left"][data-enami-in] {
    animation-name: scaleLeft;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

    @keyframes scaleLeft {
        from {
            transform: scale(0.6) translateX(100px) rotate(0.02deg);
            opacity: 0;
        }
        to {
            transform: scale(1) rotate(0deg);
            opacity: 1;
            visibility: visible;
        }
    }
}

[data-enami="scale-right"][data-enami-in] {
    animation-name: scaleRight;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

    @keyframes scaleRight {
        from {
            transform: scale(0.6) translateX(-100px) rotate(0.02deg);
            opacity: 0;
        }
        to {
            transform: scale(1) rotate(0deg);
            opacity: 1;
            visibility: visible;
        }
    }
}

[data-enami="scale-down"][data-enami-in] {
    animation-name: scaleDown;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

    @keyframes scaleDown {
        from {
            transform: scale(0.6) translateY(-100px) rotate(0.02deg);
            opacity: 0;
        }
        to {
            transform: scale(1) rotate(0deg);
            opacity: 1;
            visibility: visible;
        }
    }
}

[data-enami="scale-out"][data-enami-in] {
    animation-name: scaleIn;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

    animation-direction: reverse;
}

[data-enami="scale-up-out"][data-enami-in] {
    animation-name: scaleUp;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

    animation-direction: reverse;
}

[data-enami="scale-left-out"][data-enami-in] {
    animation-name: scaleLeft;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

    animation-direction: reverse;
}

[data-enami="scale-right-out"][data-enami-in] {
    animation-name: scaleRight;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

    animation-direction: reverse;
}

[data-enami="scale-down-out"][data-enami-in] {
    animation-name: scaleDown;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

    animation-direction: reverse;
}

[data-enami="pop-in"][data-enami-in] {
    animation-name: popIn;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 2.4);

    @keyframes popIn {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
            visibility: visible;
        }
    }
}

[data-enami="pop-out"][data-enami-in] {
    animation-name: popOut;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 2.4);

    @keyframes popOut {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(0);
            visibility: visible;
        }
    }
}
